# <!-- This is haml -->
!!!
%html
%head
  %title NoteApp | Your Online notebook
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
%body
  %header
    .header_inner
      = link_to image_tag('logo.svg'), root_path, id: "logo"
  %p.notice= notice
  %p.alert= alert

  = yield

# <!-- <!DOCTYPE html>
# <html>
# <head>
#   <title>NoteApp</title>
#   <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
#   <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
#   <%= csrf_meta_tags %>
# </head>
# <body>
#   <p class="notice"><%= notice %></p>
#   <p class="alert"><%= alert %></p>
#
# <%= yield %>
#
# </body>
# </html> -->
